@model Viman.Models.FlightsBooking
@using Viman.Models
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.WebsiteURL = Common.WebsiteURL;
    ViewBag.StaticURL = Common.StaticURL;
    ViewBag.Currency = Common.Currency;

    FlightsSearch flightSearch = ViewBag.flightSearch;
    Flights flights = ViewBag.flights;
}



<section class="listing payment_process">
    <div class="payment_msg">
        <div class="fixed-width">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <h2>Online booking received</h2>
            <p><strong>Dear, Mr Richard Wilson</strong></p>
            <p>
                We have received Your Online booking and it has been sent to the airlines for confirmation purposes. <br>
                One of our Sales representatives will contact you with an update shortly, alternatively you can give us a call at <strong>0203 745 4455</strong> or <br>
                send us an email at <strong>info@flightoffice.co.uk</strong>
            </p>
            <p>Please find the details of your online booking below (Please note these are not your e tickets)</p>
        </div>
    </div>
    <div class="fixed-width">
        <div class="bookingDetail">
            <div class="bookingTxt">
                <h3>Booking details</h3>
                Booking Ref: <strong>@(Model.BookingId)</strong><br>
                Airline: <strong>@(Model.Flights.Outbound[0].Airline.Name)</strong><br>
                Travel Way: <strong>@((Model.FlightsSearch.FlightWay == FlightWay.OneWay) ? "OneWay Flight" : "Return Flight")</strong>
            </div>
            <div class="barCode">
                <img src="~/Content/images/barCode.jpg">
                <p>@(Model.BookingId)</p>
            </div>
        </div>
        <h3>Flight Details</h3>
        <div class="fltDetail">
            <div class="fltWay" id="outbound">
                <h4><strong>@(@flightSearch.From.Name)</strong> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>@(@flightSearch.To.Name)</strong> @(Model.Flights.Outbound[0].CabinClass) - @(Model.Flights.Outbound[0].DepartureDate.ToString("dd MMM yyyy")) </h4>


                <h4><strong>London</strong> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>Bangkok</strong> Business Class - Jan 11, 2022</h4>

                @foreach (FlightsSegment outboundArr in flights.Outbound)
                {
                    <div class="fltDetail-row">

                        <div class="fltDtl-airline">
                            <div class="dltAirline-icon"><img src="@(ViewBag.StaticURL + "Content/airline/fit/" + outboundArr.Airline.Code + ".gif")"></div>
                            <div class="dltAirline-txt">
                                <span class="fltDetail-code">@(outboundArr.Airline.Code)@(outboundArr.FlightNo)</span>
                                <p>
                                    <span class="fltDetail-code">@(outboundArr.Airline.Name)</span>
                                </p>
                            </div>
                        </div>
                        <div class="fltDtl-city">
                            <span class="fltDetail-code">@(outboundArr.FromAirport.Code)</span>
                            <p>
                                @(outboundArr.DepartureDate.ToString("dd MMM yyyy")), @(outboundArr.DepartureDate.ToString("HH:mm"))
                            </p>
                            <p>@(outboundArr.FromAirport.Name)</p>
                        </div>
                        <div class="fltDtl-duration">
                            <span class="fltDetail-code"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <p>Duration: 24h 40m</p>
                        </div>
                        <div class="fltDtl-city">
                            <span class="fltDetail-code">@(outboundArr.ToAirport.Code)</span>
                            <p>@(outboundArr.ArrivalDate.ToString("dd MMM yyyy")), @(outboundArr.ArrivalDate.ToString("HH:mm"))</p>
                            <p>@(outboundArr.ToAirport.Name)</p>
                        </div>
                    </div>
                    <div class="fltTime-row"> Stop-Over: 6 Hrs. 15 Mins <span class="stopRed">CHANGE OF PLANE REQUIRED.</span></div>
                }
            </div>


            @if (flightSearch.FlightWay == FlightWay.RoundTrip)
            {

                <div class="fltWay" id="inbound">
                    <h4><strong>@(Model.Flights.Inbound[0].FromAirport.Name)</strong> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <strong>@(Model.Flights.Inbound[0].ToAirport.Name)</strong> @(Model.Flights.Inbound[0].CabinClass) - @(Model.Flights.Inbound[0].DepartureDate.ToString("dd MMM yyyy")) </h4>
                    @foreach (FlightsSegment inboundArr in flights.Inbound)
                    {
                        <div class="fltDetail-row">

                            <div class="fltDtl-airline">
                                <div class="dltAirline-icon"><img src="@(ViewBag.StaticURL + "Content/airline/fit/" + inboundArr.Airline.Code + ".gif")"></div>
                                <div class="dltAirline-txt">
                                    <span class="fltDetail-code">@(inboundArr.Airline.Code)@(inboundArr.FlightNo)</span>
                                    <p>
                                        <span class="fltDetail-code">@(inboundArr.Airline.Name)</span>
                                    </p>
                                </div>
                            </div>
                            <div class="fltDtl-city">
                                <span class="fltDetail-code">@(inboundArr.FromAirport.Code)</span>
                                <p>
                                    @(inboundArr.DepartureDate.ToString("dd MMM yyyy")), @(inboundArr.DepartureDate.ToString("HH:mm"))
                                </p>
                                <p>@(inboundArr.FromAirport.Name)</p>
                            </div>
                            <div class="fltDtl-duration">
                                <span class="fltDetail-code"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <p>Duration: 24h 40m</p>
                            </div>
                            <div class="fltDtl-city">
                                <span class="fltDetail-code">@(inboundArr.ToAirport.Code)</span>
                                <p>@(inboundArr.ArrivalDate.ToString("dd MMM yyyy")), @(inboundArr.ArrivalDate.ToString("HH:mm"))</p>
                                <p>@(inboundArr.ToAirport.Name)</p>
                            </div>
                        </div>
                        <div class="fltTime-row"> Stop-Over: 6 Hrs. 15 Mins <span class="stopRed">CHANGE OF PLANE REQUIRED.</span></div>
                    }
                </div>

            }



        </div>
        <div class="paymentContact">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="https://wa.me/447846428020" target="_blank">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <p>Text us</p>
                        <h5>0784 642 8020</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="tel:+442034746883" target="_blank">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>Call us</p>
                        <h5>0203-474-6883</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="https://www.facebook.com/FlightOfficeUK/" target="_blank">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <p>Message us</p>
                        <h5>Facebook Message</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="mailto:info@businessflightoffice.co.uk">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <p>Email</p>
                        <h5>info@businessflightoffice.co.uk</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




@*<div class="background_top"></div>
    <div class="container">
        <div class="gap_small">&nbsp;</div>
        <div class="row">
            <div class="col-xs-12">
                <div class="cn_check">
                    <i class="fa fa-check-circle"></i>

                    <h2> Thank you for booking with flyglobe.co.uk.</h2>
                    Your booking is yet not confirmed due to some dynamic changes in the availability.<br />
                    Please contact our support team on 02045021350 for details. Please note that we cannot guarantee the prices shown here until your tickets have been issued, your payment has been cleared and you receive your final booking confirmation email.
                    <br />
                    To confirm the booking please contact one of our team member:
                    Email: mailto:sales@theflyglobe.com
                    Tel: 02045021350
                    <br />
                    Mon-Sat: 9am - 9pm

                    <br /> Please find the details of your online order below (Please note these are not your e tickets)
                    <p>Booking Reference No : <b>@(Model.BookingId)</b> &nbsp; <b style="color:#f00;">@((!string.IsNullOrEmpty(Model.PNRNo)) ? "PNR NO : " + Model.PNRNo : "")</b></p>
                </div>
                <div class="cn_list_order">
                    <div class="cn_flt_dtl">
                        <div class="cn_total">
                            <span>Total</span>
                            <strong>@(ViewBag.Currency) @((Model.FlightsFare.GrandTotal + Model.FlightsFare.AtolCharge).ToString("0.00"))</strong>

                        </div>
                        <div class="cn_pss_dtl">
                            <i class="fa fa-plane"></i>
                            @((Model.FlightsSearch.FlightWay == FlightWay.OneWay) ? "OneWay Flight" : "Return Flight")
                            <span>
                                @(Model.FlightsSearch.Adult + Model.FlightsSearch.Child + Model.FlightsSearch.Infant) Tickets:
                                <bdo>@(Model.FlightsSearch.Adult) Adults@((Model.FlightsSearch.Child > 0) ? ", " + Model.FlightsSearch.Child + " Child" : "")@((Model.FlightsSearch.Infant > 0) ? ", " + Model.FlightsSearch.Infant + " Infant" : "")</bdo>
                            </span>
                        </div>
                        <div class="cn_right_dtl">
                            <div class="cn_lft_logo">
                                <img src="@(ViewBag.StaticURL + "Content/airline/fit/" + Model.Flights.Outbound[0].Airline.Code + ".gif")" />
                                <span>@(Model.Flights.Outbound[0].Airline.Code)-@(Model.Flights.Outbound[0].FlightNo)</span>
                            </div>
                            <div class="cn_arrDes_main">
                                <span class="cn_arr">
                                    @(Model.Flights.Outbound[0].FromAirport.Code)
                                    <em>@(Model.Flights.Outbound[0].DepartureDate.ToString("dd MMM yyyy"))</em>
                                    <span>@(Model.Flights.Outbound[0].DepartureDate.ToString("HH:mm"))</span>
                                </span>
                                <span class="cn_mark">
                                    <span class="cn_smr_line">
                                        <span class="cn_smry_arrow">
                                            <i class="fa fa-plane"></i>
                                        </span>
                                    </span>
                                </span>
                                <span class="cn_dest">
                                    @(Model.Flights.Outbound[Model.Flights.Outbound.Count - 1].ToAirport.Code)
                                    <em>@(Model.Flights.Outbound[Model.Flights.Outbound.Count - 1].ArrivalDate.ToString("dd MMM yyyy"))</em>
                                    <span>@(Model.Flights.Outbound[Model.Flights.Outbound.Count - 1].ArrivalDate.ToString("HH:mm"))</span>
                                </span>
                            </div>
                        </div>
                        @if (Model.FlightsSearch.FlightWay == FlightWay.RoundTrip)
                        {
                            <div class="cn_right_dtl">
                                <div class="cn_lft_logo">
                                    <img src="@(ViewBag.StaticURL + "Content/airline/fit/" + Model.Flights.Inbound[0].Airline.Code + ".gif")" />
                                    <span>@(Model.Flights.Inbound[0].Airline.Code)-@(Model.Flights.Inbound[0].FlightNo)</span>
                                </div>
                                <div class="cn_arrDes_main">
                                    <span class="cn_arr">
                                        @(Model.Flights.Inbound[0].FromAirport.Code)
                                        <em>@(Model.Flights.Inbound[0].DepartureDate.ToString("dd MMM yyyy"))</em>
                                        <span>@(Model.Flights.Inbound[0].DepartureDate.ToString("HH:mm"))</span>
                                    </span>
                                    <span class="cn_mark">
                                        <span class="cn_smr_line">
                                            <span class="cn_smry_arrow">
                                                <i class="fa fa-plane"></i>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="cn_dest">
                                        @(Model.Flights.Inbound[Model.Flights.Inbound.Count - 1].ToAirport.Code)
                                        <em>@(Model.Flights.Inbound[Model.Flights.Inbound.Count - 1].ArrivalDate.ToString("dd MMM yyyy"))</em>
                                        <span>@(Model.Flights.Inbound[Model.Flights.Inbound.Count - 1].ArrivalDate.ToString("HH:mm"))</span>
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="cn_link_main_border">&nbsp;</div>
        <div class="cn_link_main clearfix">
            <h2>You might also need in <span> @(Model.Flights.Outbound[Model.Flights.Outbound.Count - 1].ToAirport.CityName) </span></h2>
            <ul class="cn_othr_link">
                <li><a href="@Url.Content("~/")">Another Flight Search</a></li>
            </ul>
        </div>
    </div>*@



